<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to trainings!</h1>
    <h2>Choose your coding training and register</h2>
    <form th:action ="@{/home}">
        <ol>
            <li><a type="button" th:href="@{/htmlcss}">HTML & CSS</a>
                <button> <a type="button" th:href="@{/applyhtml}">Register</a></button></li>
            <br>
            <li><a type="button" th:href="@{/javascript}">JavaScript</a>
                <button for="register">Register</button></li>
            <br>
            <li><a type="button" th:href="@{/java}">Java</a>
                <button for="register">Register</button></li>
            <br>
            <li><a type="button" th:href="@{/csharp}">C#</a>
                <button for="register">Register</button></li>
            <br>
            <li><a type="button" th:href="@{/php}">PHP</a>
                <button for="register">Register</button></li>
        </ol>
    </form>
</body>
</html>