<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>
    <h1>Welcome to trainings!</h1>
    <h2>Choose your coding training and register</h2>
        <ol>
                <li><a th:href="@{/htmlcss}">HTML & CSS</a>
                <a th:href="@{/applyhtml}"><button>Register</button></a></li>
                <br>
                <li><a th:href="@{/javascript}">JavaScript</a>
                <a th:href="@{/applyjavascript}"><button>Register</button></a></li>
                <br>
                <li><a th:href="@{/java}">Java</a>
                <a th:href="@{/applyjava}"><button>Register</button></a></li>
                <br>
                <li><a th:href="@{/csharp}">C#</a>
                    <a th:href="@{/applycsharp}"><button>Register</button></a></li>
                <br>
                <li><a th:href="@{/php}">PHP</a>
                 <a th:href="@{/applyphp}"><button>Register</button></a></li>
        </ol>
</body>
</html>