<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/index.css}">
</head>
<body>
    <div class="wrap">
<h2>Select training class</h2>
    <p><div th:if="${counthtml == 0}" >
        0
    </div>
        <div th:unless="${counthtml > 0}" th:text="${counthtml}">
        </div>

        <text>/5</text>
        <a th:href="@{/htmlcss}">HTML & CSS</a>
        <a th:href="@{/applyhtml}">
        <button>Register</button>
        </a></p>
    <p><text th:text="${countjavascript}"></text>
        <text>/5</text>
        <a th:href="@{/javascript}">JavaScript</a>
        <a th:href="@{/applyjavascript}">
        <button>Register</button>
        </a></p>
    <p><text th:text="${countjava}"></text>
        <text>/5</text>
        <a th:href="@{/java}">Java</a>
        <a th:href="@{/applyjava}">
        <button>Register</button>
        </a></p>
    <p><text th:text="${countcsharp}"></text>
        <text>/5</text>
        <a th:href="@{/csharp}">C#</a>
        <a th:href="@{/applycsharp}">
        <button>Register</button>
        </a></p>
    <p><text th:text="${countphp}"></text>
        <text>/5</text>
        <a th:href="@{/php}">PHP</a>
        <a th:href="@{/applyphp}">
        <button>Register</button>
        </a></p>
</div>
</body>
</html>