<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>JavaScript</title>
</head>
<body>
<div>
    <h1>Information about JavaScript</h1>
    <p>
        JavaScript is among the most powerful and flexible programming languages of the web.
        It powers the dynamic behaviour on most websites.
        Learn the JavaScript fundamentals you’ll need for front-end or back-end development!
    </p>
</div>
<a type="button" th:href="@{/home}">Return to Home page</a>
</body>
</html>