<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>HTML & CSS</title>
</head>
<body>
<div>
    <h1>Information about HTML & CSS</h1>
    <p>
        HTML is the foundation of all web pages.
        It defines the structure of a page, while CSS defines its style.
        HTML and CSS are the beginning of everything you need to know to
        make your first web page.
        Learn both and start creating amazing websites!
    </p>
</div>
<a type="button" th:href="@{/home}">Return to Home page</a>
</body>
</html>