<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>What is PHP</title>
</head>
<body>
<div>
    <h1>Information about PHP</h1>
    <p>
        PHP is a general-purpose scripting language
        widely used as a server-side language for creating dynamic web pages.
        Learn the fundamentals of PHP, one of the most popular languages of modern web development!
    </p>
</div>
<a type="button" th:href="@{/home}">Return to Home page</a>
</body>
</html>