<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>What is Java</title>
    <link rel="stylesheet" type="text/css" th:href="@{/info.css}">
</head>
<body>
<div class="left">
    <h1>Information about Java</h1>
    <p>
        Java is one of the most popular programming languages.
        Released in 1995 and still widely used today, Java has many applications,
        including software development, mobile applications, and large systems development.
        Learn the basics of the popular Java language in this introductory course.
        For Java Beginners!
    </p>
</div>

<div class="right">
    <div class="buttonregister">
<a th:href="@{/applyjava}">
    <button>Register</button></a>
    </div>
    <div class="buttonback">
<a th:href="@{/}">
    <button>Back</button>
</a>
    </div>
</div>
</body>
</html>