<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>What is C#</title>
</head>
<body>
<div>
    <h1>Information about C#</h1>
<p>
    C# is one of the most popular programming languages.
    It can be used for a variety of things, including mobile applications,
    game development, and enterprise software.
    Learn C#, a programming language used for websites, apps, video games, and virtual reality!
</p>
</div>
<a th:href="@{/applycsharp}"><button>Register</button></a>
<a th:href="@{/home}"><button>Back</button></a>
</body>
</html>