<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>What is JavaScript</title>
</head>
<body>
<div>
    <h1>Information about JavaScript</h1>
    <p>
        JavaScript is among the most powerful and flexible programming languages of the web.
        It powers the dynamic behaviour on most websites.
        Learn the JavaScript fundamentals you’ll need for front-end or back-end development!
    </p>
</div>
<a th:href="@{/applyjavascript}">
    <button>Register</button></a>
<a th:href="@{/}">
    <button>Back</button>
</a>
</body>
</html>