<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Waiting list</title>
</head>
<body>
    <h1>No more free places available in this class!</h1>
<p>
    Dear, participant!

    Unfortunately, your selected class is fully booked! :(
    We have added you in our waiting list, in case any place becomes available.
    You are more than welcome to register in any other class.
    If you have any questions, please contact info@trainings.com
</p>
<a th:href="@{/home}"><button>Back</button></a>
</body>
</html>