<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Class register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/register.css}">
</head>
<body>
    <div class="wrap">
        <h2>Sign up Here</h2>
<form action="#" th:action="@{/addstudentphp}" th:object="${php}" method="post">
    <input type="text" id="firstName" th:field="*{firstName}" placeholder="Your name.." required>
    <input type="text" id="lastName" th:field="*{lastName}" placeholder="Your last name.." required>
    <input type="text" id="email" th:field="*{email}" placeholder="Your e-mail.." required>
    <input type="submit" value="Apply"/>
</form>
    <a th:href="@{/}">
        <button>Back to Home page</button>
    </a>
</body>
</html>