<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
 <h1>You have registered for HTML & CSS class!</h1>
    <p>
        Dear, participant!

        Thank you for joining HTML & CSS training course!
        Your classes will start September 2nd, 2020.
        Training will take place every Monday, Wednesday and Friday evening.
        If you have any questions, please contact info@trainings.com
        See you soon!
    </p>
 <a th:href="@{/home}"><button>Back</button></a>
</body>
</html>